        /* 当css文件控制多个网页时，浏览器只需要缓存一份，
        因而可以可以提高网页的访问速度，实现结构和样式的分离使得结构更加清晰。
        实际开发均使用外部样式 */
        h1{
            color:green;
            font: size 100px;
        }
        h2{
            color:aqua;
            font: 400;
        }
        p{
            color:blueviolet;
            font:caption;
        }
        /* 这个可以控制全部的p标签 */
        img{
            width:auto;
        }
        /* 这是展开风格 */
        /* 选择紧凑风格可以通过webpack，减少空格和缩进也就减少了文件体积 ，利于上线，利于用户打开*/